In [1]:
import pandas as pd
import numpy as np
import folium
import matplotlib as plt
import sys
from pandas import DataFrame
from pandas import read_csv, read_excel
import seaborn as sns

In [4]:
train1 = pd.read_excel('5대범죄발생현황.xlsx')
train2 = pd.read_csv('서울시숙박업.csv', encoding='cp949')
train3 = pd.read_csv("서울시 유흥주점영업.csv", encoding='cp949')

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
train1.head(10)

,자치구별(1),자치구별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,소계,살인,살인,강도,강도,강간·강제추행,강간·강제추행,절도,절도,폭력,폭력
2,자치구별(1),자치구별(2),발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
3,합계,소계,80445,58012,124,112,122,116,4911,4446,33531,17950,41757,35388
4,NaN,종로구,2712,2755,6,3,4,4,156,757,1079,743,1467,1248
5,NaN,중구,2861,2072,6,6,6,6,161,97,1279,739,1409,1224
6,NaN,용산구,2381,1659,3,2,1,1,141,103,945,484,1291,1069
7,NaN,성동구,2112,1510,3,4,4,1,110,82,905,497,1090,926
8,NaN,광진구,3087,2202,5,3,4,4,208,161,1414,754,1456,1280
9,NaN,동대문구,2959,2113,3,4,7,8,169,147,1240,659,1540,1295

In [7]:
train2.head(10)

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,세탁기수,여성종사자수,남성종사자수,회수건조수,침대수,다중이용업소여부
0,3010000,3010000-214-2021-00001,2021-01-15,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3010000,3010000-201-2019-00008,2019-08-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3010000,3010000-214-2023-00002,2023-03-13,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3010000,3010000-201-2017-00010,2017-04-26,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3010000,3010000-201-2017-00011,2017-04-26,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3160000,3160000-201-1975-00179,1975-12-20,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3120000,3120000-201-1990-01149,1990-12-24,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3200000,3200000-201-1986-00142,1986-07-15,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3180000,3180000-201-2003-00215,2003-02-26,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3080000,3080000-201-1980-00267,1980-07-22,NaN,3,폐업,2,폐업,2023-07-07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
train3.head(10)

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3220000,3220000-102-2018-00006,2018-12-11,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3230000,3230000-102-2017-00004,2017-05-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3130000,3130000-102-2002-00004,20021029,NaN,3,폐업,2,폐업,20130620,NaN,...,NaN,NaN,NaN,NaN,NaN,N,82.4,NaN,NaN,NaN
3,3180000,3180000-102-2001-14135,2001-10-19,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3210000,3210000-102-1982-06377,1982-02-06,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3190000,3190000-102-1978-01868,1978-05-26,NaN,3,폐업,2,폐업,2023-02-28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3050000,3050000-102-2000-12300,2000-11-23,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3000000,3000000-102-2011-00017,2011-08-29,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3000000,3000000-102-2001-12216,2001-09-17,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3180000,3180000-102-2008-00008,2008-07-07,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(train1.describe())
print(train2.describe())
print(train3.describe())

        자치구별(1)  자치구별(2) 2021 2021.1  2021.2  2021.3  2021.4  2021.5  2021.6  \
count         4       29   29     29      29      29      29      29      29
unique        2       27   29     29      14      14      13      14      26
top     자치구별(1)  자치구별(2)   합계     합계       3       3       3       1     156
freq          3        3    1      1       6       8       5       6       2

        2021.7 2021.8 2021.9 2021.10 2021.11
count       29     29     29      29      29
unique      27     29     29      29      29
top        103     합계     합계      합계      합계
freq         3      1      1       1       1
           개방자치단체코드  인허가취소일자       영업상태코드     상세영업상태코드  휴업시작일자  휴업종료일자  재개업일자  \
count  6.676000e+03      0.0  6676.000000  6676.000000     0.0     0.0    0.0
mean   3.109070e+06      NaN     2.259137     1.629569     NaN     NaN    NaN
std    7.968996e+04      NaN     0.965913     0.482956     NaN     NaN    NaN
min    3.000000e+06      NaN     1.000000     1.000000     NaN     NaN    NaN
25%    3.030000e+06      NaN     1.000000     1.000000     NaN     NaN    NaN
50%    3.110000e+06      NaN     3.000000     2.000000     NaN     NaN    NaN
75%    3.180000e+06      NaN     3.000000     2.000000     NaN     NaN    NaN
max    3.240000e+06      NaN     3.000000     2.000000     NaN     NaN    NaN

            도로명우편번호        좌표정보(X)        좌표정보(Y)  ...          양실수  \
count   3827.000000    5952.000000    5952.000000  ...  5231.000000
mean    5032.037366  198869.607916  449430.156466  ...    21.485758
std     2373.733228    6684.324360    5996.819208  ...    46.672118
min     1000.000000  182524.823836  188532.761660  ...     0.000000
25%     3134.000000  193622.794930  445742.239655  ...     0.000000
50%     4626.000000  199154.006645  449648.558426  ...    12.000000
75%     7251.000000  203440.126030  452307.486119  ...    23.000000
max    52691.000000  298528.212207  464869.323145  ...   621.000000

               욕실수          좌석수     조건부허가시작일자     조건부허가종료일자    세탁기수  \
count  4699.000000  4508.000000  2.000000e+00  2.000000e+00  3091.0
mean      7.722707     9.239796  2.011538e+07  2.012527e+07     0.0
std      20.554135    70.063839  1.062824e+05  1.202732e+05     0.0
min       0.000000     0.000000  2.004022e+07  2.004022e+07     0.0
25%       0.000000     0.000000  2.007780e+07  2.008275e+07     0.0
50%       0.000000     0.000000  2.011538e+07  2.012527e+07     0.0
75%      12.000000     0.000000  2.015295e+07  2.016779e+07     0.0
max     546.000000  3618.000000  2.019053e+07  2.021032e+07     0.0

            여성종사자수       남성종사자수   회수건조수     침대수
count  1232.000000  1234.000000  3037.0  3030.0
mean      0.101461     0.116694     0.0     0.0
std       1.413730     1.528639     0.0     0.0
min       0.000000     0.000000     0.0     0.0
25%       0.000000     0.000000     0.0     0.0
50%       0.000000     0.000000     0.0     0.0
75%       0.000000     0.000000     0.0     0.0
max      36.000000    35.000000     0.0     0.0

[8 rows x 27 columns]
           개방자치단체코드  인허가취소일자       영업상태코드     상세영업상태코드  휴업시작일자  휴업종료일자  재개업일자  \
count  4.911000e+03      0.0  4911.000000  4911.000000     0.0     0.0    0.0
mean   3.132908e+06      NaN     2.279576     1.639788     NaN     NaN    NaN
std    8.679362e+04      NaN     0.960221     0.480111     NaN     NaN    NaN
min    3.000000e+06      NaN     1.000000     1.000000     NaN     NaN    NaN
25%    3.040000e+06      NaN     1.000000     1.000000     NaN     NaN    NaN
50%    3.170000e+06      NaN     3.000000     2.000000     NaN     NaN    NaN
75%    3.210000e+06      NaN     3.000000     2.000000     NaN     NaN    NaN
max    3.240000e+06      NaN     3.000000     2.000000     NaN     NaN    NaN

           도로명우편번호        좌표정보(X)        좌표정보(Y)  ...  본사종업원수  공장사무직종업원수  \
count  2698.000000    4662.000000    4662.000000  ...   160.0      160.0
mean   5513.669755  199177.830849  448335.135331  ...     0.0        0.0
std    2111.318113    6523.282751    4613.815109  ...     0.0        0.0
min    1054.000000  182914.770763  437647.525127  ...     0.0        0.0
25%    4038.000000  193769.295073  444698.669676  ...     0.0        0.0
50%    5665.000000  199357.144000  448096.659539  ...     0.0        0.0
75%    7304.000000  203255.219567  451496.896629  ...     0.0        0.0
max    8846.000000  213680.993194  461429.560865  ...     0.0        0.0

       공장판매직종업원수  공장생산직종업원수  건물소유구분명    보증액    월세액        시설총규모   전통업소지정번호  \
count      160.0      160.0      0.0  160.0  160.0  4232.000000   3.000000
mean         0.0        0.0      NaN    0.0    0.0   219.716115  10.666667
std          0.0        0.0      NaN    0.0    0.0   273.853696  18.475209
min          0.0        0.0      NaN    0.0    0.0     0.000000   0.000000
25%          0.0        0.0      NaN    0.0    0.0    81.585000   0.000000
50%          0.0        0.0      NaN    0.0    0.0   122.240000   0.000000
75%          0.0        0.0      NaN    0.0    0.0   246.017500  16.000000
max          0.0        0.0      NaN    0.0    0.0  3784.870000  32.000000

       홈페이지
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

[8 rows x 23 columns]

In [10]:
print(train1.info())
print(train2.info())
print(train3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구별(1)  4 non-null      object
 1   자치구별(2)  29 non-null     object
 2   2021     29 non-null     object
 3   2021.1   29 non-null     object
 4   2021.2   29 non-null     object
 5   2021.3   29 non-null     object
 6   2021.4   29 non-null     object
 7   2021.5   29 non-null     object
 8   2021.6   29 non-null     object
 9   2021.7   29 non-null     object
 10  2021.8   29 non-null     object
 11  2021.9   29 non-null     object
 12  2021.10  29 non-null     object
 13  2021.11  29 non-null     object
dtypes: object(14)
memory usage: 3.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6676 entries, 0 to 6675
Data columns (total 47 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   개방자치단체코드   6676 non-null   int64
 1   관리번호       6676 non-null   object
 2   인허가일자      6676 non-null   object
 3   인허가취소일자    0 non-null      float64
 4   영업상태코드     6676 non-null   int64
 5   영업상태명      6676 non-null   object
 6   상세영업상태코드   6676 non-null   int64
 7   상세영업상태명    6676 non-null   object
 8   폐업일자       4203 non-null   object
 9   휴업시작일자     0 non-null      float64
 10  휴업종료일자     0 non-null      float64
 11  재개업일자      0 non-null      float64
 12  전화번호       6263 non-null   object
 13  소재지면적      6670 non-null   object
 14  소재지우편번호    6665 non-null   object
 15  지번주소       6665 non-null   object
 16  도로명주소      3998 non-null   object
 17  도로명우편번호    3827 non-null   float64
 18  사업장명       6676 non-null   object
 19  최종수정일자     6676 non-null   object
 20  데이터갱신구분    6676 non-null   object
 21  데이터갱신일자    6676 non-null   object
 22  업태구분명      6676 non-null   object
 23  좌표정보(X)    5952 non-null   float64
 24  좌표정보(Y)    5952 non-null   float64
 25  위생업태명      5739 non-null   object
 26  건물지상층수     4936 non-null   float64
 27  건물지하층수     4619 non-null   float64
 28  사용시작지상층    4878 non-null   float64
 29  사용끝지상층     3876 non-null   float64
 30  사용시작지하층    4282 non-null   float64
 31  사용끝지하층     3180 non-null   float64
 32  한실수        5320 non-null   float64
 33  양실수        5231 non-null   float64
 34  욕실수        4699 non-null   float64
 35  발한실여부      5739 non-null   object
 36  좌석수        4508 non-null   float64
 37  조건부허가신고사유  2 non-null      object
 38  조건부허가시작일자  2 non-null      float64
 39  조건부허가종료일자  2 non-null      float64
 40  건물소유구분명    1564 non-null   object
 41  세탁기수       3091 non-null   float64
 42  여성종사자수     1232 non-null   float64
 43  남성종사자수     1234 non-null   float64
 44  회수건조수      3037 non-null   float64
 45  침대수        3030 non-null   float64
 46  다중이용업소여부   5739 non-null   object
dtypes: float64(24), int64(3), object(20)
memory usage: 2.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4911 entries, 0 to 4910
Data columns (total 44 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   개방자치단체코드   4911 non-null   int64
 1   관리번호       4911 non-null   object
 2   인허가일자      4911 non-null   object
 3   인허가취소일자    0 non-null      float64
 4   영업상태코드     4911 non-null   int64
 5   영업상태명      4911 non-null   object
 6   상세영업상태코드   4911 non-null   int64
 7   상세영업상태명    4911 non-null   object
 8   폐업일자       3142 non-null   object
 9   휴업시작일자     0 non-null      float64
 10  휴업종료일자     0 non-null      float64
 11  재개업일자      0 non-null      float64
 12  전화번호       3877 non-null   object
 13  소재지면적      4562 non-null   object
 14  소재지우편번호    4909 non-null   object
 15  지번주소       4909 non-null   object
 16  도로명주소      2814 non-null   object
 17  도로명우편번호    2698 non-null   float64
 18  사업장명       4911 non-null   object
 19  최종수정일자     4911 non-null   object
 20  데이터갱신구분    4911 non-null   object
 21  데이터갱신일자    4911 non-null   object
 22  업태구분명      4911 non-null   object
 23  좌표정보(X)    4662 non-null   float64
 24  좌표정보(Y)    4662 non-null   float64
 25  위생업태명      4232 non-null   object
 26  남성종사자수     2702 non-null   float64
 27  여성종사자수     2684 non-null   float64
 28  영업장주변구분명   2679 non-null   object
 29  등급구분명      2211 non-null   object
 30  급수시설구분명    2569 non-null   object
 31  총인원        158 non-null    float64
 32  본사종업원수     160 non-null    float64
 33  공장사무직종업원수  160 non-null    float64
 34  공장판매직종업원수  160 non-null    float64
 35  공장생산직종업원수  160 non-null    float64
 36  건물소유구분명    0 non-null      float64
 37  보증액        160 non-null    float64
 38  월세액        160 non-null    float64
 39  다중이용업소여부   4232 non-null   object
 40  시설총규모      4232 non-null   float64
 41  전통업소지정번호   3 non-null      float64
 42  전통업소주된음식   3 non-null      object
 43  홈페이지       0 non-null      float64
dtypes: float64(20), int64(3), object(21)
memory usage: 1.6+ MB
None

In [11]:
print(train1.columns)
print(train2.columns)
print(train3.columns)

Index(['자치구별(1)', '자치구별(2)', '2021', '2021.1', '2021.2', '2021.3', '2021.4',
       '2021.5', '2021.6', '2021.7', '2021.8', '2021.9', '2021.10', '2021.11'],
      dtype='object')
Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '건물지상층수', '건물지하층수',
       '사용시작지상층', '사용끝지상층', '사용시작지하층', '사용끝지하층', '한실수', '양실수', '욕실수', '발한실여부',
       '좌석수', '조건부허가신고사유', '조건부허가시작일자', '조건부허가종료일자', '건물소유구분명', '세탁기수',
       '여성종사자수', '남성종사자수', '회수건조수', '침대수', '다중이용업소여부'],
      dtype='object')
Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '위생업태명', '남성종사자수', '여성종사자수',
       '영업장주변구분명', '등급구분명', '급수시설구분명', '총인원', '본사종업원수', '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [18]:
# print(train1.isnull().sum())
print(train2['좌표정보(X)'].isnull().sum())
print(train2['좌표정보(Y)'].isnull().sum())

724
724

In [19]:
print(train3['좌표정보(X)'].isnull().sum())
print(train3['좌표정보(Y)'].isnull().sum())

249
249