# 분석용 데이터 만들기
## #01. 작업준비
### 패키지 가져오기 & 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
origin = pd.read_excel('골목상권_코로나전후_매출액비교.xlsx')
origin.head()

,기준_년_코드,기준_분기_코드,상권_코드,분기당_매출_금액,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,점포수,covid19,...,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,시군구명,시군구코드,도심,총_직장_인구_수,총_생활인구_수
0,2018,3,1000094,182447499,181667733,779766,81108758,83644304,5,0,...,마장로39길,203915,452058,11200,11200540,성동구,11200,False,3118,1272175
1,2018,3,1000094,4561081,3428057,1133024,0,4561081,2,0,...,마장로39길,203915,452058,11200,11200540,성동구,11200,False,3118,1272175
2,2018,3,1000094,86293109,78208220,8084889,38252844,48040265,1,0,...,마장로39길,203915,452058,11200,11200540,성동구,11200,False,3118,1272175
3,2018,3,1000094,93941608,60508224,33433384,45574085,36140265,1,0,...,마장로39길,203915,452058,11200,11200540,성동구,11200,False,3118,1272175
4,2018,3,1000094,1692325089,1354744541,337580548,489138378,195886445,1,0,...,마장로39길,203915,452058,11200,11200540,성동구,11200,False,3118,1272175

## #02. 데이터 정제

### 지도에서 사용할 정보는 제거

In [3]:
df = origin.drop(['기준_년_코드','기준_분기_코드', '엑스좌표_값','와이좌표_값','시군구_코드','행정동_코드','시군구명','시군구코드'], axis=1)
df.head()

,상권_코드,분기당_매출_금액,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,점포수,covid19,일과시간_금액,일과이후_금액,청년금액,중년금액,장년금액,상권_코드_명,도심,총_직장_인구_수,총_생활인구_수
0,1000094,182447499,181667733,779766,81108758,83644304,5,0,66151380,116296119,10902631,153850431,0,마장로39길,False,3118,1272175
1,1000094,4561081,3428057,1133024,0,4561081,2,0,1928771,2632310,269338,4291743,0,마장로39길,False,3118,1272175
2,1000094,86293109,78208220,8084889,38252844,48040265,1,0,46607387,39685722,17254063,69039046,0,마장로39길,False,3118,1272175
3,1000094,93941608,60508224,33433384,45574085,36140265,1,0,17821388,76120220,42831422,34418855,4464070,마장로39길,False,3118,1272175
4,1000094,1692325089,1354744541,337580548,489138378,195886445,1,0,1231807111,460517978,139282388,367308046,178434388,마장로39길,False,3118,1272175

### 코로나 전후로 데이터 분리

In [4]:
before = df.loc[df['covid19']==0,:]
after = df.loc[df['covid19']==1,:]

### 상권별로 집계

In [5]:
before_df = before.groupby(['상권_코드','상권_코드_명']).mean()
before_df.head()

,,분기당_매출_금액,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,점포수,covid19,일과시간_금액,일과이후_금액,청년금액,중년금액,장년금액,도심,총_직장_인구_수,총_생활인구_수
상권_코드,상권_코드_명,,,,,,,,,,,,,,,
1000001,계동길,2.578610e+08,1.763507e+08,8.151029e+07,9.163545e+07,1.360800e+08,6.825688,0.0,1.638978e+08,9.396313e+07,8.730298e+07,9.599238e+07,4.442005e+07,1.0,21133.770642,1.063927e+06
1000002,난계로27길,3.543839e+08,2.506296e+08,1.037544e+08,1.363398e+08,1.784559e+08,4.519231,0.0,2.241412e+08,1.302427e+08,1.132371e+08,1.386050e+08,6.295354e+07,1.0,10343.230769,3.304633e+06
1000003,돈화문로11가길,3.413227e+08,2.610737e+08,8.024901e+07,1.620824e+08,1.191403e+08,7.094340,0.0,2.038488e+08,1.374739e+08,1.420967e+08,1.108781e+08,2.824787e+07,1.0,43510.654088,2.169122e+06
1000004,명륜길,1.938924e+08,1.479767e+08,4.591570e+07,1.074163e+08,7.967599e+07,4.418182,0.0,9.944505e+07,9.444737e+07,1.154849e+08,5.371539e+07,1.789203e+07,1.0,8267.454545,2.516156e+06
1000005,백석동길,2.776290e+08,1.828422e+08,9.478682e+07,1.093891e+08,1.238111e+08,3.263158,0.0,1.203827e+08,1.572463e+08,9.159474e+07,1.186559e+08,2.294953e+07,1.0,2711.131579,3.022949e+05

In [6]:
after_df = after.groupby(['상권_코드','상권_코드_명']).mean()
after_df.head()

,,분기당_매출_금액,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,점포수,covid19,일과시간_금액,일과이후_금액,청년금액,중년금액,장년금액,도심,총_직장_인구_수,총_생활인구_수
상권_코드,상권_코드_명,,,,,,,,,,,,,,,
1000001,계동길,2.448823e+08,1.706330e+08,7.424930e+07,8.981332e+07,1.342963e+08,6.564356,1.0,1.582114e+08,8.667082e+07,8.924158e+07,9.557297e+07,3.929506e+07,1.0,13700.0,1.108208e+06
1000002,난계로27길,3.136216e+08,1.999904e+08,1.136311e+08,1.288363e+08,1.756231e+08,4.493333,1.0,2.038621e+08,1.097594e+08,9.435273e+07,1.393054e+08,7.080126e+07,1.0,11773.0,3.704169e+06
1000003,돈화문로11가길,2.903691e+08,2.033349e+08,8.703427e+07,1.524314e+08,1.090613e+08,7.382550,1.0,1.815967e+08,1.087724e+08,1.437275e+08,8.816102e+07,2.960414e+07,1.0,39506.0,1.775981e+06
1000004,명륜길,1.576750e+08,1.225130e+08,3.516200e+07,8.630072e+07,6.541593e+07,4.390000,1.0,8.732531e+07,7.034973e+07,7.531349e+07,5.439058e+07,2.201257e+07,1.0,1696.0,3.109088e+06
1000005,백석동길,2.493421e+08,1.501430e+08,9.919912e+07,1.106565e+08,1.132046e+08,3.417910,1.0,1.049614e+08,1.443807e+08,8.816241e+07,1.080787e+08,2.761998e+07,1.0,4252.0,4.745286e+05

In [7]:
mdf = pd.merge(before_df,after_df,left_index=True,right_index=True)
mdf.head()

,,분기당_매출_금액_x,주중_매출_금액_x,주말_매출_금액_x,남성_매출_금액_x,여성_매출_금액_x,점포수_x,covid19_x,일과시간_금액_x,일과이후_금액_x,청년금액_x,...,점포수_y,covid19_y,일과시간_금액_y,일과이후_금액_y,청년금액_y,중년금액_y,장년금액_y,도심_y,총_직장_인구_수_y,총_생활인구_수_y
상권_코드,상권_코드_명,,,,,,,,,,,,,,,,,,,,,
1000001,계동길,2.578610e+08,1.763507e+08,8.151029e+07,9.163545e+07,1.360800e+08,6.825688,0.0,1.638978e+08,9.396313e+07,8.730298e+07,...,6.564356,1.0,1.582114e+08,8.667082e+07,8.924158e+07,9.557297e+07,3.929506e+07,1.0,13700.0,1.108208e+06
1000002,난계로27길,3.543839e+08,2.506296e+08,1.037544e+08,1.363398e+08,1.784559e+08,4.519231,0.0,2.241412e+08,1.302427e+08,1.132371e+08,...,4.493333,1.0,2.038621e+08,1.097594e+08,9.435273e+07,1.393054e+08,7.080126e+07,1.0,11773.0,3.704169e+06
1000003,돈화문로11가길,3.413227e+08,2.610737e+08,8.024901e+07,1.620824e+08,1.191403e+08,7.094340,0.0,2.038488e+08,1.374739e+08,1.420967e+08,...,7.382550,1.0,1.815967e+08,1.087724e+08,1.437275e+08,8.816102e+07,2.960414e+07,1.0,39506.0,1.775981e+06
1000004,명륜길,1.938924e+08,1.479767e+08,4.591570e+07,1.074163e+08,7.967599e+07,4.418182,0.0,9.944505e+07,9.444737e+07,1.154849e+08,...,4.390000,1.0,8.732531e+07,7.034973e+07,7.531349e+07,5.439058e+07,2.201257e+07,1.0,1696.0,3.109088e+06
1000005,백석동길,2.776290e+08,1.828422e+08,9.478682e+07,1.093891e+08,1.238111e+08,3.263158,0.0,1.203827e+08,1.572463e+08,9.159474e+07,...,3.417910,1.0,1.049614e+08,1.443807e+08,8.816241e+07,1.080787e+08,2.761998e+07,1.0,4252.0,4.745286e+05

### 종속변수 만들기

In [8]:
mdf['매출증감'] = (mdf['분기당_매출_금액_y'] - mdf['분기당_매출_금액_x']) > 0
mdf['매출증감'] = mdf['매출증감'].astype(int)
mdf.head()

,,분기당_매출_금액_x,주중_매출_금액_x,주말_매출_금액_x,남성_매출_금액_x,여성_매출_금액_x,점포수_x,covid19_x,일과시간_금액_x,일과이후_금액_x,청년금액_x,...,covid19_y,일과시간_금액_y,일과이후_금액_y,청년금액_y,중년금액_y,장년금액_y,도심_y,총_직장_인구_수_y,총_생활인구_수_y,매출증감
상권_코드,상권_코드_명,,,,,,,,,,,,,,,,,,,,,
1000001,계동길,2.578610e+08,1.763507e+08,8.151029e+07,9.163545e+07,1.360800e+08,6.825688,0.0,1.638978e+08,9.396313e+07,8.730298e+07,...,1.0,1.582114e+08,8.667082e+07,8.924158e+07,9.557297e+07,3.929506e+07,1.0,13700.0,1.108208e+06,0
1000002,난계로27길,3.543839e+08,2.506296e+08,1.037544e+08,1.363398e+08,1.784559e+08,4.519231,0.0,2.241412e+08,1.302427e+08,1.132371e+08,...,1.0,2.038621e+08,1.097594e+08,9.435273e+07,1.393054e+08,7.080126e+07,1.0,11773.0,3.704169e+06,0
1000003,돈화문로11가길,3.413227e+08,2.610737e+08,8.024901e+07,1.620824e+08,1.191403e+08,7.094340,0.0,2.038488e+08,1.374739e+08,1.420967e+08,...,1.0,1.815967e+08,1.087724e+08,1.437275e+08,8.816102e+07,2.960414e+07,1.0,39506.0,1.775981e+06,0
1000004,명륜길,1.938924e+08,1.479767e+08,4.591570e+07,1.074163e+08,7.967599e+07,4.418182,0.0,9.944505e+07,9.444737e+07,1.154849e+08,...,1.0,8.732531e+07,7.034973e+07,7.531349e+07,5.439058e+07,2.201257e+07,1.0,1696.0,3.109088e+06,0
1000005,백석동길,2.776290e+08,1.828422e+08,9.478682e+07,1.093891e+08,1.238111e+08,3.263158,0.0,1.203827e+08,1.572463e+08,9.159474e+07,...,1.0,1.049614e+08,1.443807e+08,8.816241e+07,1.080787e+08,2.761998e+07,1.0,4252.0,4.745286e+05,0

### 학습을 위한 최종 데이터 선정

In [9]:
print(mdf.columns)

Index(['분기당_매출_금액_x', '주중_매출_금액_x', '주말_매출_금액_x', '남성_매출_금액_x', '여성_매출_금액_x',
       '점포수_x', 'covid19_x', '일과시간_금액_x', '일과이후_금액_x', '청년금액_x', '중년금액_x',
       '장년금액_x', '도심_x', '총_직장_인구_수_x', '총_생활인구_수_x', '분기당_매출_금액_y',
       '주중_매출_금액_y', '주말_매출_금액_y', '남성_매출_금액_y', '여성_매출_금액_y', '점포수_y',
       'covid19_y', '일과시간_금액_y', '일과이후_금액_y', '청년금액_y', '중년금액_y', '장년금액_y',
       '도심_y', '총_직장_인구_수_y', '총_생활인구_수_y', '매출증감'],
      dtype='object')

In [10]:
tdf = mdf[['점포수_x', '도심_x', '총_직장_인구_수_x', '총_생활인구_수_x', '점포수_y', '총_직장_인구_수_y', '총_생활인구_수_y', '매출증감']]

tdf.to_excel("tdf.xlsx")
tdf.head()

,,점포수_x,도심_x,총_직장_인구_수_x,총_생활인구_수_x,점포수_y,총_직장_인구_수_y,총_생활인구_수_y,매출증감
상권_코드,상권_코드_명,,,,,,,,
1000001,계동길,6.825688,1.0,21133.770642,1.063927e+06,6.564356,13700.0,1.108208e+06,0
1000002,난계로27길,4.519231,1.0,10343.230769,3.304633e+06,4.493333,11773.0,3.704169e+06,0
1000003,돈화문로11가길,7.094340,1.0,43510.654088,2.169122e+06,7.382550,39506.0,1.775981e+06,0
1000004,명륜길,4.418182,1.0,8267.454545,2.516156e+06,4.390000,1696.0,3.109088e+06,0
1000005,백석동길,3.263158,1.0,2711.131579,3.022949e+05,3.417910,4252.0,4.745286e+05,0